<!DOCTYPE html>
<html lang="en">
<head>
	<title>Souvenir Account Creation</title>
</head>
<body>
	<div class="header">
		<div style="height: 45px; display: inline-block;">
			<p class="title"> Souvenir </p>
		</div>
	</div>

	<hr>

	<form action="{{ url_for('create_account_post') }}" method="post" enctype="multipart/form-data">
	  <input type="text" name="username"/>
	  <input type="password" name="password"/>
	  <input type="submit" value="login"/>
	</form>

	<p>Don't have an account yet?
		<a href="/accounts/create/">
			<b>Sign up now</b>
		</a>
	</p>

</body>
</html>
